"""Async-only WebSocket client for River Markets live feeds.

Hand-written — not generated by Fern. Reconnects transparently and re-sends
the active subscription set after a reconnect.

Usage::

    from rivermarkets import RealtimeClient

    rt = RealtimeClient(key_id="...", private_key="...")

    async with rt.orderbooks([12345, 67890]) as stream:
        async for msg in stream:
            if msg.type == "snapshot":
                ...

    async with rt.orders(subaccount_id="sub_abc") as stream:
        async for msg in stream:
            ...
"""

from __future__ import annotations

import asyncio
import base64
import json
import logging
import typing
from contextlib import AbstractAsyncContextManager

import websockets
from nacl.signing import SigningKey

from .messages import Message, parse_message
from .signing import sign_ws_url

logger = logging.getLogger(__name__)

DEFAULT_BASE_URL = "wss://api.rivermarkets.com"
_PATH_ORDERBOOKS = "/v1/ws/orderbooks"
_PATH_ORDERS = "/v1/ws/orders"
_PATH_TRADEPRINTS = "/v1/ws/tradeprints"


class Subscription(AbstractAsyncContextManager):
    """An async-iterable WebSocket subscription with transparent reconnect.

    Async context manager: opens the socket in __aenter__, closes in __aexit__.
    On disconnect, transparently reconnects and re-sends the active subscription
    so callers iterating with `async for msg in sub` keep getting messages.
    """

    def __init__(
        self,
        *,
        client: "RealtimeClient",
        path: str,
        extra_query: typing.Optional[typing.Dict[str, str]] = None,
        active_river_ids: typing.Optional[typing.Iterable[int]] = None,
    ):
        self._client = client
        self._path = path
        self._extra_query = dict(extra_query or {})
        self._river_ids: typing.Set[int] = set(active_river_ids or ())
        self._ws: typing.Optional[typing.Any] = None
        self._closed = False

    async def __aenter__(self) -> "Subscription":
        await self._open()
        return self

    async def __aexit__(self, *_exc_info: typing.Any) -> None:
        await self.close()

    async def _open(self) -> None:
        url = self._client._sign(path=self._path, extra_query=self._extra_query)
        self._ws = await websockets.connect(url)
        if self._river_ids:
            await self._ws.send(
                json.dumps(
                    {
                        "action": "subscribe",
                        "river_ids": sorted(self._river_ids),
                    }
                )
            )

    async def close(self) -> None:
        self._closed = True
        if self._ws is not None:
            try:
                await self._ws.close()
            finally:
                self._ws = None

    def __aiter__(self) -> "Subscription":
        return self

    async def __anext__(self) -> Message:
        while not self._closed:
            if self._ws is None:
                try:
                    await self._open()
                except Exception as e:
                    logger.warning("WS reconnect failed (%s); retrying", e)
                    await asyncio.sleep(self._client.reconnect_delay_s)
                    continue
            try:
                raw = await self._ws.recv()
            except websockets.ConnectionClosed as e:
                logger.warning("WS closed (%s); reconnecting", e)
                self._ws = None
                await asyncio.sleep(self._client.reconnect_delay_s)
                continue
            return parse_message(json.loads(raw))
        raise StopAsyncIteration

    async def subscribe(self, river_ids: typing.Iterable[int]) -> None:
        """Add `river_ids` to the active subscription set and send a subscribe frame."""
        ids = list(river_ids)
        if not ids:
            return
        self._river_ids.update(ids)
        if self._ws is not None:
            await self._ws.send(
                json.dumps({"action": "subscribe", "river_ids": ids})
            )

    async def unsubscribe(self, river_ids: typing.Iterable[int]) -> None:
        """Remove `river_ids` from the active subscription set and send an unsubscribe frame."""
        ids = list(river_ids)
        if not ids:
            return
        self._river_ids.difference_update(ids)
        if self._ws is not None:
            await self._ws.send(
                json.dumps({"action": "unsubscribe", "river_ids": ids})
            )


class RealtimeClient:
    """Async-only WebSocket client for River Markets live feeds.

    Uses Ed25519 query-param signing — pass the same `key_id` / `private_key`
    used to construct the REST client. Reconnects transparently with a fixed
    delay between attempts.

    Parameters
    ----------
    key_id : str
        The UUID of your API key.

    private_key : str
        Base64-encoded Ed25519 private key.

    base_url : str
        Override for the WebSocket host (default: ``wss://api.rivermarkets.com``).

    reconnect_delay_s : float
        Seconds to wait between reconnect attempts after a disconnect.
    """

    def __init__(
        self,
        *,
        key_id: str,
        private_key: str,
        base_url: str = DEFAULT_BASE_URL,
        reconnect_delay_s: float = 1.0,
    ):
        self._key_id = key_id
        self._signing_key = SigningKey(base64.b64decode(private_key))
        self._base_url = base_url.rstrip("/")
        self.reconnect_delay_s = reconnect_delay_s

    def _sign(
        self,
        *,
        path: str,
        extra_query: typing.Optional[typing.Dict[str, str]] = None,
    ) -> str:
        return sign_ws_url(
            base_url=self._base_url,
            path=path,
            key_id=self._key_id,
            signing_key=self._signing_key,
            extra_query=extra_query,
        )

    def orderbooks(self, river_ids: typing.Iterable[int]) -> Subscription:
        """Subscribe to live orderbook snapshots and updates for one or more markets."""
        return Subscription(
            client=self,
            path=_PATH_ORDERBOOKS,
            active_river_ids=river_ids,
        )

    def orders(self, *, subaccount_id: str) -> Subscription:
        """Stream live order-status updates for one subaccount.

        The subaccount is fixed at handshake time — there is no subscribe /
        unsubscribe frame to send.
        """
        return Subscription(
            client=self,
            path=_PATH_ORDERS,
            extra_query={"subaccount_id": subaccount_id},
        )

    def tradeprints(self, river_ids: typing.Iterable[int]) -> Subscription:
        """Subscribe to the live trade tape for one or more markets."""
        return Subscription(
            client=self,
            path=_PATH_TRADEPRINTS,
            active_river_ids=river_ids,
        )
