# This file was auto-generated by Fern from our API Definition.

from ..core.client_wrapper import SyncClientWrapper
import typing
from ..core.request_options import RequestOptions
from ..types.tradeprints_bulk_response import TradeprintsBulkResponse
from ..core.pydantic_utilities import parse_obj_as
from ..errors.unprocessable_entity_error import UnprocessableEntityError
from ..types.http_validation_error import HttpValidationError
from json.decoder import JSONDecodeError
from ..core.api_error import ApiError
from ..core.client_wrapper import AsyncClientWrapper


class TradeprintsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._client_wrapper = client_wrapper

    def get_tradeprints(
        self,
        *,
        river_ids: typing.Optional[typing.Union[int, typing.Sequence[int]]] = None,
        limit: typing.Optional[int] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> TradeprintsBulkResponse:
        """
        Return the most recent trades for one or more markets, sourced directly from
        the exchanges. Markets are fetched concurrently with a small semaphore
        (`MAX_CONCURRENT_FETCHES`) so a long input list never fans out into a
        thundering herd, and the result list preserves the input order. A failure
        on any single market becomes a `not_found` row with a message — the call as
        a whole does not 500.

        Per-market lookup paths:
          - Kalshi: `GET /markets/trades?ticker=...&limit=...`
          - Polymarket: `GET https://data-api.polymarket.com/trades?market=<token>&limit=...`
            (both YES and NO legs are fetched and the NO leg is flipped into YES-price terms)

        Trades are sorted newest-first within each market. Prices are normalised to 0-1.

        Use this together with the `/v1/ws/tradeprints` WebSocket: hit this endpoint to
        backfill the tape on page load, then dedup live WS events by `exchange_trade_id`.

        Parameters
        ----------
        river_ids : typing.Optional[typing.Union[int, typing.Sequence[int]]]
            River market IDs (repeat the param for each)

        limit : typing.Optional[int]
            Max trades returned per market

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        TradeprintsBulkResponse
            Successful Response

        Examples
        --------
        from rivermarkets import RiverMarkets

        client = RiverMarkets(
            base_url="https://yourhost.com/path/to/api",
        )
        client.tradeprints.get_tradeprints()
        """
        _response = self._client_wrapper.httpx_client.request(
            "v1/tradeprints",
            method="GET",
            params={
                "river_ids": river_ids,
                "limit": limit,
            },
            request_options=request_options,
        )
        try:
            if 200 <= _response.status_code < 300:
                return typing.cast(
                    TradeprintsBulkResponse,
                    parse_obj_as(
                        type_=TradeprintsBulkResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
            if _response.status_code == 422:
                raise UnprocessableEntityError(
                    typing.cast(
                        HttpValidationError,
                        parse_obj_as(
                            type_=HttpValidationError,  # type: ignore
                            object_=_response.json(),
                        ),
                    )
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, body=_response.text)
        raise ApiError(status_code=_response.status_code, body=_response_json)


class AsyncTradeprintsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._client_wrapper = client_wrapper

    async def get_tradeprints(
        self,
        *,
        river_ids: typing.Optional[typing.Union[int, typing.Sequence[int]]] = None,
        limit: typing.Optional[int] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> TradeprintsBulkResponse:
        """
        Return the most recent trades for one or more markets, sourced directly from
        the exchanges. Markets are fetched concurrently with a small semaphore
        (`MAX_CONCURRENT_FETCHES`) so a long input list never fans out into a
        thundering herd, and the result list preserves the input order. A failure
        on any single market becomes a `not_found` row with a message — the call as
        a whole does not 500.

        Per-market lookup paths:
          - Kalshi: `GET /markets/trades?ticker=...&limit=...`
          - Polymarket: `GET https://data-api.polymarket.com/trades?market=<token>&limit=...`
            (both YES and NO legs are fetched and the NO leg is flipped into YES-price terms)

        Trades are sorted newest-first within each market. Prices are normalised to 0-1.

        Use this together with the `/v1/ws/tradeprints` WebSocket: hit this endpoint to
        backfill the tape on page load, then dedup live WS events by `exchange_trade_id`.

        Parameters
        ----------
        river_ids : typing.Optional[typing.Union[int, typing.Sequence[int]]]
            River market IDs (repeat the param for each)

        limit : typing.Optional[int]
            Max trades returned per market

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        TradeprintsBulkResponse
            Successful Response

        Examples
        --------
        import asyncio

        from rivermarkets import AsyncRiverMarkets

        client = AsyncRiverMarkets(
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.tradeprints.get_tradeprints()


        asyncio.run(main())
        """
        _response = await self._client_wrapper.httpx_client.request(
            "v1/tradeprints",
            method="GET",
            params={
                "river_ids": river_ids,
                "limit": limit,
            },
            request_options=request_options,
        )
        try:
            if 200 <= _response.status_code < 300:
                return typing.cast(
                    TradeprintsBulkResponse,
                    parse_obj_as(
                        type_=TradeprintsBulkResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
            if _response.status_code == 422:
                raise UnprocessableEntityError(
                    typing.cast(
                        HttpValidationError,
                        parse_obj_as(
                            type_=HttpValidationError,  # type: ignore
                            object_=_response.json(),
                        ),
                    )
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, body=_response.text)
        raise ApiError(status_code=_response.status_code, body=_response_json)
